{% extends 'index.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, eligendi debitis porro quam, repellendus itaque tempora incidunt asperiores sit temporibus aspernatur aut illo assumenda hic ipsum officiis est molestiae exercitationem!
Fugit obcaecati nam, dolorem eos nobis earum, culpa facilis possimus suscipit ad ratione consectetur voluptas molestiae? Eligendi mollitia atque sint enim, illum fugit impedit ducimus minima dicta maxime. Amet, magnam?
Quos, corporis odit. Alias nobis quaerat at, ratione ex beatae? Quisquam dolore ratione nihil eos, odit distinctio nisi tempora repellat aliquid impedit deleniti doloribus veniam voluptates excepturi quo culpa amet.
Vitae, neque alias quisquam deleniti possimus harum animi reiciendis. Deserunt perspiciatis eveniet aspernatur similique dicta corrupti! Vel quos quas ea impedit veritatis, consequuntur recusandae, delectus assumenda nemo, sit quisquam culpa.
Aut hic quam id ipsam nostrum deleniti repudiandae ab veritatis atque corporis? Maxime, nulla? Recusandae, nostrum repellat? Optio quae reprehenderit obcaecati consectetur earum? Harum, perspiciatis nulla saepe magnam earum facere!
Voluptatem, dignissimos omnis? Qui itaque a delectus blanditiis fugiat voluptates eaque veritatis, tempora explicabo aliquam molestias. Quo, veniam dicta sapiente soluta architecto, officia voluptatum voluptas eum sed minus unde inventore.
Ducimus cupiditate dolor laborum cum ipsum perspiciatis minima! Laboriosam et eligendi vel distinctio, expedita rerum iure incidunt saepe fugiat, facilis pariatur a doloremque quidem? Commodi aspernatur repellat impedit quod laborum!
Pariatur, soluta voluptatem nostrum aliquid earum rem id quae esse repellat quod repudiandae minus ipsum suscipit sit aliquam repellendus voluptatibus voluptatum libero iusto recusandae at, itaque dignissimos rerum! Magni, reiciendis!
Inventore quasi odit deserunt a praesentium porro exercitationem dolor dicta harum, perspiciatis necessitatibus tempora minus? Ipsum, veritatis debitis. Quisquam hic natus vitae facilis, illo obcaecati culpa! Ullam doloremque deserunt exercitationem?
Dolore ducimus laboriosam soluta illum, provident cum eaque accusamus mollitia numquam temporibus necessitatibus quo impedit itaque minus quos ab molestias doloribus error eos exercitationem! Distinctio necessitatibus debitis veniam commodi praesentium!</p>

{% endblock %}